<!DOCTYPE html>
<html>
<head>
	<title>综合显示屏(竖)</title>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<link rel="stylesheet" href="__HUI__/lib/layui/css/layui.css" media="all">
	<script type="text/javascript" src="__HUI__/lib/layui/layui.js"></script> 
	<script type="text/javascript" src="__HUI__/lib/vue/vue.min.js"></script> 
	<script type="text/javascript" src="__HUI__/lib/vue/axios.min.js"></script> 
<style type="text/css">
html,body,.layui-fluid,.layui-row{
	width: 100%;
    height: 100%;
    padding: 0;
    color:#FFFFFF;
}
/*这里是关键*/
#app .header{
	display: block;
	height: 7%;
}
#app .header .header-l{
	 display: block;
	 height: 100%;
	 font-size: 4vw;
	 line-height: 13vw;
	 padding-left: 12vw;
}
#app .header .header-r{
	font-size: 1.5vw;
	line-height: 4vw;
	padding-top: 2.2vw;
	text-align: center;
	padding-left: 3vw;
}
#app .header .header-r .show_ip{
	position: absolute;
	right: 1vw;
	top: 0px;
	font-size: 0.3rem;
	opacity: 0.3;
	color: white;
}
#app .center{
	display: block;
	height: 50%;
}
#app .center .center-t{
	display: block;
	height: 10%;
}
#app .center .center-t .center-t-l{
	display: block;
	height: 100%;
	font-size: 3.5vw;
	line-height: 10.5vw;
	text-align: center;
	padding-right: 3vw;
}
#app .center .center-t .center-t-r{
	display: block;
	height: 100%;
	font-size: 3.5vw;
	line-height: 10.5vw;
}
#app .center .center-c{
	display: block;
	height: 71%;
	color:#fe7f18;	
	font-size: 3.5vw;
	line-height: 8.5vw;
}
#app .center .center-c .center-c-t{
	display: block;
	height: 11%;
	text-align: center;
	color:#fff;
}
#app .center .center-c .center-c-c{
	display: block;
	height: 10.6%;
	text-align: center;
	font-weight: bold;
}
#app .center .center-b{
	display: block;
	padding: 1vw 0;
	height: 19%;
}
#app .center .center-b .center-b-l{
	display: block;    
	height: 50%;
	font-size: 3.5vw;
	line-height: 8.5vw;    
	text-align: center;
	padding-right: 3vw;
}
#app .center .center-b .center-b-r{
	display: block;    
	height: 50%;
	font-size: 3.5vw;
	line-height: 8.5vw;
}
#app .footer{
	display: block;
	height: 43%;
}
#app .footer-t{	
	display: block; 
	height: 85%;
	padding:0.5vw 2vw;
}
#app .footer-b{
	display: block; 
	height: 15%;
	font-size: 3vw;
	line-height: 11vw;
	padding-left: 3vw;
}
.layui-layer-content{
	color:#000;
}
#now span{
	font-size: 1.2vw;
}
/*====文字滚动 css======*/
.marquee{
	white-space: nowrap;
    overflow: hidden;
    width: 72%;
}
/*====文字滚动 css======*/
</style>
</head>
<body>
<div class="layui-fluid" id="app">    
	<div class="layui-row" v-bind:style="baseStyle">
		<div class="layui-col-xs12 layui-col-sm12 layui-col-md12 header">
			<div class="layui-col-xs8 layui-col-sm8 layui-col-md8 header-l">
				<span>&nbsp; {{ item.top_text }}</span>
			</div>
			<div class="layui-col-xs4 layui-col-sm4 layui-col-md4 header-r">
				<div id="date">{{ date }}</div>
	  			<div id="time">{{ time }}</div>
				<span class="show_ip">{{ item.ip }}</span>
			</div>
		</div>
		<div class="layui-col-xs12 layui-col-sm12 layui-col-md12 center">
			<div class="layui-col-xs12 layui-col-sm12 layui-col-md12 center-t">	
				<div class="layui-col-xs3 layui-col-sm3 layui-col-md3 center-t-l" >
					当前叫号
				</div>		
				<div class="layui-col-xs9 layui-col-sm9 layui-col-md9 center-t-r marquee" id="now" v-html="info.title">&nbsp;</div>
			</div>
			<div class="layui-col-xs12 layui-col-sm12 layui-col-md12 center-c">	
				<div class="layui-col-xs9 layui-col-sm9 layui-col-md9 center-c-t">
					当  前  就  诊
				</div>
				<div class="layui-col-xs3 layui-col-sm3 layui-col-md3 center-c-t">
					医 生
				</div>		
				<template v-for="(ls,index) in info.item" 
							v-if="index < 8">
					<div class="layui-col-xs9 layui-col-sm9 layui-col-md9 center-c-c">				
						<div class="layui-col-xs3 layui-col-sm3 layui-col-md3" 
							v-if="item.field.f1==1">
							{{ ls.queue_name }}
						</div>
						<div class="layui-col-xs3 layui-col-sm3 layui-col-md3"
							v-if="item.field.f2==1">
							{{ ls.seat_name }}
						</div>
						<div class="layui-col-xs3 layui-col-sm3 layui-col-md3"
							v-if="item.field.f3==1">
							{{ ls.code }}
						</div>
						<div class="layui-col-xs3 layui-col-sm3 layui-col-md3"
							v-if="item.field.f4==1">
							{{ ls.user_name }}
						</div>
					</div>
					<div class="layui-col-xs3 layui-col-sm3 layui-col-md3 center-c-c" 
							v-if="item.field.f6==1">
						{{ ls.doctor_name }}
					</div>		
				</template>
				<template v-for="x in num">
					<div class="layui-col-xs9 layui-col-sm9 layui-col-md9 center-c-c">
					</div>
					<div class="layui-col-xs3 layui-col-sm3 layui-col-md3 center-c-c">	
					</div>		
				</template>
			</div>
			<div class="layui-col-xs12 layui-col-sm12 layui-col-md12 center-b">
				<div class="layui-col-xs3 layui-col-sm3 layui-col-md3 center-b-l">
					当前等候
				</div>		
				<div class="layui-col-xs9 layui-col-sm9 layui-col-md9 center-b-r">
					<span v-html="info.wait"></span>
				</div>	
				<div class="layui-col-xs3 layui-col-sm3 layui-col-md3 center-b-l" >
					过号人员
				</div>		
				<div class="layui-col-xs9 layui-col-sm9 layui-col-md9 center-b-r">
					<span v-html="info.pass"></span>
				</div>		
			</div>
		</div>
		<div class="layui-col-xs12 layui-col-sm12 layui-col-md12 footer">
			<div class="layui-col-xs12 layui-col-sm12 layui-col-md12 footer-t">		
				<div class="layui-carousel" id="test1">
				  <div carousel-item>
				    <div v-for="images in item.img">
				    	<img v-bind:src="'__IMG__/'+ images.img" style="width: 100%;height: 100%;" />
				    </div>
				  </div>
				</div>	
			</div>
			<div class="layui-col-xs12 layui-col-sm12 layui-col-md12 footer-b" v-on:click="shows">	
				<span v-if="tip!=''">友情提示：{{ tip }}	</span>
			</div>
		</div>
	</div>
	<div class="layui-form layui-form-pane" v-if="show">
		<div class="layui-form-item">
		    <div class="layui-inline">
		      <div class="layui-input-inline">
		        <input type="text" name="devices_ip" v-model="item.ip" v-bind:value="item.ip" placeholder="设备通信编号" autocomplete="off" class="layui-input">
		      </div>	      
		      <div class="layui-input-inline">
		        <button class="layui-btn layui-btn-radius" v-on:click="save"> 保 存 </button>
		      </div>	      
		    </div>
		</div>
	</div>
</div>

<script>
var ins = "",carousel = "";

layui.use(['carousel','layer'], function(){
	carousel = layui.carousel;
	//建造实例
	ins = carousel.render({
	    elem: '#test1'
	    ,width: '100%' //设置容器宽度
	    ,height: '100%' //设置容器宽度
	    ,arrow: 'none' //始终显示箭头
	    ,interval:10000
	    ,indicator: 'none'
	});

	/*========文字滚动 js========*/	
	var run = '';
	var scrollLeft = function(){
		layui.$(".marquee").scrollLeft(0)
	}
	var Marquee = function(){	
		var  num = 0
			,speed = 50;
		clearInterval(run);
		var rolling = function(){		
			num += 1;
				ch = layui.$(".marquee").scrollLeft()
				layui.$(".marquee").scrollLeft(num)
				if(ch == layui.$(".marquee").scrollLeft()){
					num = 0;
					clearInterval(run)
					setTimeout(scrollLeft,2000)
					setTimeout(Marquee,4000)
				}		
		}
		run = setInterval(rolling, speed)
	} 
	/*=========文字滚动 js========*/
});

var vm = new Vue({
	el:'#app',
	data:{
		baseStyle:{
		},
		item:{
			field:{
			},
			ip:'127.0.0.1',
		},
		info: {
			item:{
			},
			items:{
			},
			pass:'',
			wait:'',
		},
		tip:'请保持现场秩序与安静，耐心等候叫号！',
		time:'',
		date:'',
		show:false,
		ws:null,
		num:8,
		s_num:0,  		//开始位置
		all_num:0,  	//记录总数
		heart:null, 	//心跳包
		roll_flag:true,
		roll_run:'',
		move_run:'',	//走马灯
		marquee:false,
	}
	,methods:{
		getBase:function(n){
			var vm = this
			var horizontal = 1
			axios
				.get('{:url("/api/v2/index/showBases")}',{'params':{'horizontal':horizontal}})
				.then(
					function(res){
						vm.item = res.data;
						vm.field = res.data.field	
						vm.tip = res.data.tip
						if(n==1){
							vm.init();
						}
						setTimeout(function(){
							ins.reload()
						},200)
						if(res.data.top_logo){
						    vm.baseStyle.backgroundSize = '100% 100%';
						    vm.baseStyle.backgroundRepeat = 'no-repeat';
							vm.baseStyle.backgroundImage = "url(__IMG__"+res.data.top_logo+")";
						}
					}					
				)
		}
		,get:function(){
			var vm = this
			axios.get('{:url("/api/v2/index/showHallInfo")}')
				.then(
					function (res) {
						vm.all_num = res.data.num
						vm.info.items = res.data.item	
						vm.info.pass = res.data.item.pass	
						vm.info.wait = res.data.item.wait	
						var n = sessionStorage.length;
						if(res.data.item != "undefined" &&  res.data.item != ''){
							sessionStorage.setItem(n,res.data.item.title);
						}
						if(n==0){
							vm.showTitle(0)
						}
						if(vm.roll_flag){
							vm.roll()
						}else{
							vm.roll_obj()
						}
					}
				)
		}
		,renderResize:function() {
	        // 判断横竖屏
	        var n = 0;
	        let width = document.documentElement.clientWidth
	        let height = document.documentElement.clientHeight
	        if(width < height) {
	           n = 1;
	        }
	        return n;
	    }	
		,showTitle:function(num){
			var n = sessionStorage.length;
			if(n>num){
				var str = sessionStorage.getItem(num);
				this.info.title = str;
				
				var c = setInterval(function(){
					var cl = layui.$("#now").css("color");
					var color="#0f0|#00f";
					var n=0;
					if(cl == 'rgb(0, 255, 0)'){
						n=1;
					}
					color=color.split("|");
					layui.$("#now").css("color",color[n]);
				},500);

				setTimeout(function () {
					layui.$("#now").css("color","#FFFFFF");
					clearInterval(c);
				},3000)

				setTimeout(res => {
					num ++;
					this.showTitle(num);
				},5000)
			}else{
				sessionStorage.clear();
			}
		}
		,roll:function(){
			this.s_num = this.roll_obj()
			setTimeout(this.roll,20000)
			this.roll_flag = false;
		}
		,roll_obj:function(){
			this.num = (8-this.all_num)>0 ? (8-this.all_num) : 0;  //显示空白行
			var i = 0,n = 0 
			if(this.all_num>8){
				n = this.s_num
				for (i ; i < 8; i++) {
					this.info.item[i] = this.info.items.list[n]				
					n ++;
					//数据到尾、重头获取
					if(n >= this.all_num && this.all_num>8){
						n = 0;
					}
				}
			}else{
				if(typeof this.info.items.list === "object"){					
					for(ls in this.info.items.list){
						this.info.item[ls] = this.info.items.list[ls]
					}
				}else{
					this.info.item = {};
				}				
			}
			return n;
		}
		,save:function(){
			axios.post('{:url("/api/v2/index/changeCode")}',{'devices_ip':this.item.ip,'devices_type':1})
				.then(
					res => {
						if(res.status==200){
							this.show = false;
							this.get();
							this.getBase();
							this.ws.close()
						}
						layer.open({
						  title: '提示'
						  ,content: res.data
						});     
					}
				)
		}
		,shows:function(){
			this.show = this.show ? false : true;
		}
		,init:function(){
			if(typeof('WebSocket') === "undefined"){
				layer.open({
				  title: '提示'
				  ,content: '当前浏览器 Not support websocket',
				});     
			}else{				
				this.ws = new WebSocket('ws://'+document.domain+':23452');
				this.ws.onopen = this.opens
				this.ws.onmessage = this.message
				this.ws.onclose = this.close
			}
		}
		,opens:function(){
			var data = '{"type":"login","devices_ip":"'+this.item.ip+'"}';
			this.ws.send(data)
			console.log(this.item.ip + " 连接成功");  
			this.heartbeat()
		}
		,message:function(e){
			var obj = eval('(' + e.data + ')');	
			if(obj.call){
				this.get();
			}else if(obj.reload){
				this.getBase();
			}else if(obj.ping){
				console.log(obj.ping)
			}else if(obj.warning){
				this.info.title = obj.warning
			}
		}
		,close:function(){
			this.init()
			clearInterval(this.heart)
			console.log(this.item.ip + " 断线重连中...")
		}
		,heartbeat:function(){
			this.heart = setInterval(res => {
				this.ws.send('{"type":"ping"}');
			},30000)
		}
		,op_date:function(){			
			var dt = new Date(); // 得到当前时间
			var y = dt.getFullYear(); // 当前年份
			var m = dt.getMonth() + 1; // 当前月份，getMonth 返回值是 0-11 对应 1-12月，因此全部加1
			var d = dt.getDate();
			if(m<10) m='0' + m;
			if(d<10) d='0' + d;	 
			var str =  y + '年' + m + '月' + d + '日';
			this.date = str
		}
		,op_time:function(){
			var vm = this
			setInterval(
				function(res){
					var dt = new Date(); // 得到当前时间
					var week = dt.getDay();  
					if (week == 0) {  
					        str = "星期日";  
					} else if (week == 1) {  
					        str = "星期一";  
					} else if (week == 2) {  
					        str = "星期二";  
					} else if (week == 3) {  
					        str = "星期三";  
					} else if (week == 4) {  
					        str = "星期四";  
					} else if (week == 5) {  
					        str = "星期五";  
					} else if (week == 6) {  
					        str = "星期六";  
					}  
					var h = dt.getHours();
					if(h<10) h='0' + h;
					var i = dt.getMinutes();
					if(i<10) i='0' + i;
					var s = dt.getSeconds();
					if(s<10) s='0' + s;
					str +=  ' '+ h + ':' + i + ':' + s;				
					vm.time = str;
			},1000)	
		}
		,scroll:function(){
			var run = '',num = 0,speed = 50,vm=this;
			clearInterval(run);
			var rolling = function(){		
				num += 1;
				ch = layui.$(".marquee").scrollLeft()
				layui.$(".marquee").scrollLeft(num)
				if(ch == layui.$(".marquee").scrollLeft()){
					num = 0;
					clearInterval(run)
					setTimeout(function(){
						layui.$(".marquee").scrollLeft(0)
					},2000)
					setTimeout(function(){
						vm.scroll();
					},4000)
				}		
			}
			run = setInterval(rolling, speed)			
		}		
	}
	,created:function(){	
		this.getBase(1)
		this.get();			
		this.showTitle(0)		
		this.scroll()
		
	}	
	,mounted:function(){
		this.op_date()	//日期
		this.op_time()	//时间
	}	
})
</script>
</body>
</html>