<!DOCTYPE html>
<html>
<head>
  <title>{block name="title"}中科易达{/block}</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />

<meta name="description" content="福州中科易达计算机技术有限公司成立于2008年，注册资金801万，是一家集计算机相关软、硬件产品研发、销售与服务为一体的科技创新型企业。几年以来，公司本着“诚信为本、科技创新、以质为本”的企业宗旨，经过全体员工的不懈努力，与广大客户的大力支持下，公司的产品与服务在全国范围得到了广泛的应用于发展，赢得了业界的一致好评与信任！">

<link rel="stylesheet" href="__APP__/lib/weui.min.css">
<link rel="stylesheet" href="__APP__/css/jquery-weui.css">
<link rel="stylesheet" href="__APP__/css/demos.css">
<link rel="stylesheet" href="__APP__/hospital/index.css">
<script src="__APP__/lib/jquery-2.1.4.js"></script>

<link rel="stylesheet" href="__HUI__/lib/layui/css/layui.css" media="all">
<script type="text/javascript" src="__HUI__/lib/layui/layui.js"></script> 

</head>

<body ontouchstart>
	<div class="weui-flex" onclick="show()" style="height: 6%;display: block;">
		{if !empty($ads_img)}
		<img src="__IMG__{$ads_img}" style="height: 100%;width: 100%;">
		{/if}
		<span class="time" id="time"></span>
		<span class="show_ip">{$devices_ip}</span>
    </div>
    <div class="weui-flex" style="height: 8%;display: block;border: none;">
      	<div class="weui-flex__item">
      		<span class="in_block b_orange"></span>
      		<div class="placeholder" id="room_name">{$doctor.devices_name}</div>
      	</div>
    </div>
    <div class="weui-flex weui-flex-ex" style="height: 16%;display: block;padding-top: 2.5vw;">
	    <div class="weui-flex__item3">
	      	<img src="__APP__/images/pic_article.png" id="head_pic">
	    </div>

	    <div class="weui-flex__item doctor_info">
	    	<div class="b_orange">
	    	<span class="h_doctor">医 生：</span> 
	    	<span id="staff_name" class="b_white">{$doctor.devices_user_name}&nbsp;</span></div>
	    	<div>专 长：<span id="staff_brief">{$doctor.devices_user_brief}</span></div>
	    </div>
    </div>
    <div class="weui-flex wait_info weui-flex-ex"  style="height:26%;display: block;">
	   	<div class="weui-flex b_orange" style="border-bottom: 0px;">
	      	<div class="placeholder pl_center" style="width: 30%;border-right: 5px solid #05437c;">呼号</div>
      		<div class="weui-flex__item"><div class="placeholder pl_center" id="now_check"></div></div>
	    </div>
	    <div class="weui-flex"  style="background-color: #E3E3E3;height: 65%;color:#949293">
	      	<div class="placeholder pl_center" style="width: 30%;line-height: 90%;height: 72%;padding-top: 10%;border-right: 5px solid #05437c;">
	      		等待<p id="wait_num">(0)</p>
	      	</div>
      		<div class="weui-flex__item">
      			<div class="placeholder pl_center" id="wait_list">
      			</div>
      		</div>
	    </div>
    </div>


    <!-- 广告位轮播 -->
    <div  class="weui-flex weui-flex-ex" style="height: 28%;display: block;">
	    <video autoplay controls loop muted playsinline style="height: 100%;width: 100%;display: none;background-color: #000000;">
		您的浏览器不支持 video 标签。
		</video>
		<div class="layui-carousel" id="test1">
		  <div carousel-item id="swiper-wrapper">
		  	{empty name="img_list"}
			    <div><img src="__APP__/images/pic_article.png" style="width: 100%;height: 100%;" /></div>
			{else/}
			    {volist name="img_list" id="vo"}
			    	<div><img src="__IMG__{$vo.img}" style="width: 100%;height: 100%;" /></div>
			    {/volist}
			{/empty}
		  </div>
		</div>	 
    </div>

    <div class="weui-flex weui_flex_footer">
      	<div class="weui-flex__item footer">友情提示：<span id="tips">{$doctor.devices_tips|default="请保持现场秩序与安静，耐心等候叫号！"}</span></div>
    </div>
<div class="layui-form layui-form-pane" style="display: none;">
	<div class="layui-form-item">
	    <div class="layui-inline">
	      <div class="layui-input-inline" style="width: 100px;">
	        <input type="text" name="devices_ip" lay-verify="required" value="{$devices_ip}" placeholder="设备通信编号" autocomplete="off" class="layui-input">
	      </div>	      
	      <div class="layui-input-inline" style="width: 100px;">
	        <button class="layui-btn layui-btn-radius" onclick="changeCode()"> 保 存 </button>
	      </div>	      
	    </div>
	</div>
</div>
<style type="text/css">
body{
	background-color: #005291;
}
#room_name{
	font-size: 9vw;
}
.weui_flex_footer{
    position: fixed;
    padding-bottom: 2.5vw;
	bottom: -1px;
    width: 100%;
    background-color: #b9066C;
}
.h_doctor{
	float: left;
}
.b_white{
    width: 74%;
    display: block;
    margin-left: 23%;
    padding-left: 2vw;
	color: #000000;
	background-color: #FFFFFF;
}
.b_orange{
	color:#FFFFFF;
	background-color: #f96A02;
}

.doctor_info{
	width: 78%;
	font-size: 4vw;
	margin-left: 20vw;
}
.in_block{
    float: left;
    display: block;
    width: 5vw;
    height: 10vw;
    margin: 2vw 1vw 0 1vw;
}
.time{
	color: #FFFFFF;
	position: absolute;
    top: 2.5vw;
    right: 2vw;
    font-size: 3vw;
}
.weui-flex-ex{  
	margin: 0 1.5vw 1.5vw 1.5vw;
	padding: 1.5vw;
	background-color: #05437c;
	border: 1px solid #5c716a;
}
#wait_num{
	font-size: 2vw;
    color:#949293;
}
.wait_info{
	text-align: center;
}
.pl_center{
	text-align: center;
}
#wait_list{
	color:#949293;
	border: none;
	line-height: 9.5vw;
	font-size: 5vw;
}
.show_ip{
	position: absolute;
    right: 0px;
    top: 0px;
    font-size: 0.3rem;
    opacity: 0.3;
    color: white;
}
</style>
<script src="__APP__/lib/fastclick.js"></script>
<script src="__APP__/js/swiper.js"></script>
<script>
var ins = "",carousel = "";
$(function() {
	showTime();
	var tm = setInterval(showTime,1000)
	"{if $devices_video==''}"
		$("video").hide();
		$("#test1").show();		
	"{else/}"
		$("video").show();
		$("#test1").hide();	
		cacheVideo('{$devices_video}');
	"{/if}"
  	FastClick.attach(document.body);
  	connectSocket();
});
layui.use('carousel', function(){
	carousel = layui.carousel;
	//建造实例
	ins = carousel.render({
	    elem: '#test1'
	    ,width: '100%' //设置容器宽度
	    ,height: '100%' //设置容器宽度
	    ,arrow: 'none' //始终显示箭头
	    ,indicator: 'none'
	});
});

$("#but").on('click',function(){
	$.post('{:url("hospital/staff/index")}',
		{"devices_code":$("#room_code").val()},
		function(data){
			if(data){
				location.reload();
			}
		})
})

var ws = ""
,i = ''
,data = ''
,s = '';

function connectSocket()
{
	data = '{"type":"login","devices_ip":"{$devices_ip}"}';
	ws = new WebSocket('ws://'+document.domain+':23452');
	ws.onopen = function(){
		// console.log(data)
	    i = setInterval(heartbeat,40000);
	    ws.send(data);
	    clearInterval(s);
	    console.log("连接成功");  
	};

	ws.onmessage = function(e){
		var obj = eval('(' + e.data + ')');	
		var str = '';
		console.log(obj);
		if(obj.ping){
			console.log(obj.ping);
		}else if(obj.reload){
			location.reload();
		}else if(obj.devices_type=='admin'){
			if(obj.devices_video){
				$("video").attr("src",obj.devices_video).show();
				$("#test1").hide();
				cacheVideo(obj.devices_video);
			}else if(obj.devices_image){
				$("video").attr("src","").hide();
				$("#test1").show();
				changeImg(obj.devices_image);		
			}
		}else if(obj.stop){
			$("#now_check").html("停诊");
		}else{
			$("#room_name").html(obj.devices_name);
			if(obj.wait_list){
				var list = obj.wait_list;
				var n = 1;
				var html_str = "{$rule.rule|default=''}";
				var html_rstr = '';
				for(li in list){
					var dname = list[li].name;
					//2个字的姓名
					if(dname!=null || dname==""){						
						if(dname.length<3){
			                temp=dname.split('');
			                temp.splice(1,0,"");//空格的个数
			                temp=temp.join("&ensp;");
			                list[li].name=temp;
			            }else{
			            	list[li].name=dname.substring(0,3);
			            }
					}else{
						list[li].name = ' **';
					}
					if(html_str){
						html_rstr = html_str.replace("[code]",list[li].prefix+list[li].code);
						html_rstr = html_rstr.replace("[name]",list[li].name);
					}else{
						html_rstr = list[li].prefix+list[li].code+' '+list[li].name;
					}

					if(list[li].status==2){
						var show_c = list[li].prefix+list[li].code+"  "+list[li].name;
						$("#now_check").html(show_c);
					}else if(n<={$rule.number|default=2}){
						var mark = "";
						if(list[li].order==1){
							mark = "<span class='mark'>(预约)</span>";
						}
						// str += '<div class="weui-flex">';
					    // str += ' <div class="weui-flex__item">';
					    str += '  <div >'+html_rstr+" "+mark+'</div>';	//class="placeholder"			    
					    // str += ' </div>';
			    		// str += '</div>';
			    		n++;
					}
				}
			}	
			if(obj.staff_info){
				var staff = obj.staff_info;
				$("#head_pic").attr('src','__IMG__/'+staff.pic);
				$("#staff_name").html(staff.QueName);
				$("#staff_brief").html(staff.AlternateField1);
			}
			$("#wait_num").html("("+obj.wait_number+")");
			$("#wait_list").html(str);
		}
	};
	//关闭重连
	ws.onclose = function (event) {
		s = setTimeout(conSend,5000);
		clearInterval(i);
	}
}
// 心跳
function heartbeat(){
	ws.send('{"type":"ping"}');
}
//重连
function conSend(){
	console.log("断线重连中...");
	connectSocket();
}

function show(){
	$(".demos-content-padded").toggle();
}
// 缓存视频
function cacheVideo(url){
	const req = new XMLHttpRequest();
    req.open('GET', url, true);
    req.responseType = 'blob';
    req.onload = function () {
      // Onload is triggered even on 404
      // so we need to check the status code
      if (this.status === 200) {
        const videoBlob = this.response;
        const blobSrc = URL.createObjectURL(videoBlob); // IE10+
        $("video").attr("src",blobSrc);
  		$("video")[0].play();
        // Video is now downloaded
        // and we can set it as source on the video element
        // video.src = blobSrc ;        
      }
    };
    req.onerror = function () {
    	console.log("error")
      // Error
    };
    req.send();
}
// 录播图片
function changeImg(data){	
	var obj = eval('(' + data + ')');	
	var html = '';
	if(obj){		
		for(n in obj){
			html += '<div><img src="__IMG__'+obj[n].img+'" style="width: 100%;height: 100%;" /></div>';
		}
		$("#swiper-wrapper").html(html);
		//重置轮播
		ins.reload();		
	}
}
function showTime(){
	var dt = new Date(); // 得到当前时间
	var y = dt.getFullYear(); // 当前年份
	var m = dt.getMonth() + 1; // 当前月份，getMonth 返回值是 0-11 对应 1-12月，因此全部加1
	var d = dt.getDate();
 
	var h = dt.getHours();
	if(h<10) h='0' + h;
	var i = dt.getMinutes();
	if(i<10) i='0' + i;
	var s = dt.getSeconds();
	if(s<10) s='0' + s;
 
	var str = m + '月' + d + '日 ' + h + '时' + i + '分' + s + '秒';
	$("#time").html(str); // 将格式化后的内容装载到容器中
}

// 通信編號配置
$(".footer").on("click",function(){
	$(".layui-form").toggle()
})
function changeCode(){
	var devices_ip = layui.$("input[name='devices_ip']").val();
  	//请求登入接口
  	layui.$.post('{:url("pavilion/display/changeCode")}',
  		{'devices_ip':devices_ip},
  		function(res){
  			if(res){
  				location.reload();
  			}else{
  				alert('配置出错')
  			}
  		},'json')
}
</script>
<script src="__APP__/js/jquery-weui.js"></script>
</body>
</html>
