{extend name="base/base" /}

{block name="main"}
<div class="container">
    <div class="main_top">
        <div id="forms" class="mt0">
            <div class="box">
                <div class="box_border">
                    <div class="box_top">
                        <div style="float: left;">   
                        <i class="fa fa-calculator" style="font-size: 28px;color:#81BEF7;margin: 5px;"></i>
                    </div>
                    <b>短信配额：</b></div>
                    <div class="box_center">
                        <form  name="form1" class="jqtransform" >
                            <table class="form_table pt15 pb15" width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td class="td_right">单位：</td>
                                    <td>
                                        <input type="hidden" name="unit_id" value="{$unit.UnitId}">
                                        <label>{$unit.unitname}</label>
                                    </td>
                                </tr>
                                
                                <tr>
                                    <td class="td_right">增加数量：</td>
                                    <td><input type="number" name="number" id="number" class="input-text lh30" size="30" value="0"></td>
                                </tr>
                                <tr>
                                    <td class="td_right">备注：</td>
                                    <td>
                                        <input type="text" name="note" id="note" class="input-text lh30" size="30" value="">
                                    </td>
                                </tr>
                            </table> 
                                <div class="box_top" style="text-align: center;">
                                    <input type="button" name="button" class="btn btn82 btn_save2" onclick="save()" value="保存" style="margin-right: 20px;"> 
                                    <input type="button" name="button" class="btn btn82 btn_nochecked" onclick="history.back(-1);" value="取消"> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>               
                </form>
            </div>
        </div>
<script type="text/javascript">
// 更新数据
function save(){
    $.post('{:url("admin/sms/smsAddNum")}',
        $("form").serialize(), 
        function(data){
            if(data.success==1){
                history.go(-1);
            }
            alert(data.msg);
    },'json')

}
</script>
{/block}