{extend name="base/base" /}

{block name="main"}
	<div id="forms" class="mt10">
        <div class="box">
          <div class="box_border">
            <div class="box_top">
              <div style="float: left;">   
                <i class="fa fa-add fa-archive"></i>
              </div>
              <b>配置管理</b>
            </div>
            <div class="box_center">
              <form action="" class="jqtransform">
               <table width="100%" border="0" cellpadding="0" cellspacing="0" class="list_table">    
                <tr>
                    <th>配置名称</th>           
                    <th>配置参数</th>
                    <th>配置说明</th>
                </tr>        
                <!-- <tr>
                  <td class="td_right">选择单位:</td>
                  <td class=""> 
                    <select name="unit_id" class="select" onchange="loca($(this).val())">
                      <option value="">选择单位</option>
                        {volist name="unit" id="vo"}
                        <option value="{$vo.UnitId}" {if $vo.UnitId==$unit_id}selected{/if}>{$vo.unitname}</option>
                        {/volist}
                    </select>
                  </td>
                  <td></td>
                </tr>       -->
                <tr>
                    <td class="td_right">呼叫保安提示语:</td>
                    <td class=""> 
                        <input type="text" name="warning" class="input-text lh30" size="20" value="{$list.warning}">
                    </td>
                    <td>用于显示或者语音呼叫保安</td>
                </tr>

                <tr>
                  <td class="td_right">是否连续呼叫:</td>
                  <td class=""> 
                  	<input type="radio" name="next" value="1" id="fetch_area1" checked="true">
                    <label for="fetch_area1" style="padding-right: 15px;">是</label> 

                    <input type="radio" name="next" value="0" id="fetch_area" {if $list.next==0} checked="true"{/if}>
                    <label for="fetch_area">否</label>
                  </td>
                  <td>呼叫器过号、完成后是否直接呼叫下一个患者</td>
                </tr>
               <tr>
                  <td class="td_right">是否半天内可预约:</td>
                  <td class="">
                    <input type="radio" name="half_day" value="1" id="half_day1" checked="true">
                    <label for="half_day1" style="padding-right: 15px;">可以</label> 
                    <input type="radio" name="half_day" value="0" id="half_day" {if $list.half_day==0} checked="true"{/if}>
                    <label for="half_day">不可以</label>
                  </td>
                  <td>取号时是否允许迟到半小时内可以取票号</td>
                </tr> 
                <tr>
                  <td class="td_right">是否当天预约:</td>
                  <td class="">
                    <input type="radio" name="today" value="1" id="today1" checked="true">
                    <label for="today1" style="padding-right: 15px;">是</label> 
                    <input type="radio" name="today" value="0" id="today" {if $list.today==0} checked="true"{/if}>
                    <label for="today">否</label>
                  </td>
                  <td>是否可以预约当天的预约</td>
                </tr>    
                <tr>
                  <td class="td_right">提前多少分钟取号:</td>
                  <td class=""> 
                    <input type="text" name="fetchTime" class="input-text lh30" size="20" value="{$list.fetchTime}">
                  </td>
                  <td>提前多少分钟取号</td>
                </tr>  
                <tr>
                  <td class="td_right">可以提前预约多少天:</td>
                  <td class=""> 
                    <input type="text" name="des_day" class="input-text lh30" size="20" value="{$list.des_day}">
                  </td>
                  <td>可以提前预约多少天</td>
                </tr>  
                <tr>
                  <td class="td_right">卡片取号次数:</td>
                  <td class=""> 
                    <input type="text" name="fetch_number" class="input-text lh30" size="20" value="{$list.fetch_number}">
                  </td>
                  <td>一个卡片一天能领取几个号码</td>
                </tr>
                  <tr>
                  <td class="td_right">卡片前置字符:</td>
                  <td class="">
                    <input type="text" name="prefix" class="input-text lh30" size="20" value="{$list.prefix}">
                  </td>
                  <td>有填则判断卡片是否符合，否则判断是否在后台录入过卡片</td>
                </tr>                
                <tr>
                  <td class="td_right">预约次数:</td>
                  <td class=""> 
                    <input type="text" name="blacklist_num" class="input-text lh30" size="20" value="{$list.blacklist_num}">
                  </td>
                  <td>预约人连续n次预约完成后不取消也不到现场列入黑名单</td>
                </tr>
                <tr>
                  <td class="td_right">天 数 :</td>
                  <td class=""> 
                    <input type="text" name="blacklist_day" class="input-text lh30" size="20" value="{$list.blacklist_day}">
                  </td>
                  <td>列入黑名单后n天内不可以再预约</td>
                </tr>
                    <tr>
                        <td colspan="3" style="text-align: center;">
                            <input type="button" name="button" onclick="save()" class="btn btn82 btn_save2" value="保存"> 
                            <input type="reset" name="button" class="btn btn82 btn_res" value="重置"> 
                        </td>
                    </tr>
               </table>
               </form>
            </div>
          </div>
        </div>
     </div>
<script type="text/javascript">
function save() {
	$.post('{:url("admin/fetch/save")}',
		$("form").serialize(),
		function(data){
			alert(data.msg)
	},'json')
}
function loca(id){
    location.href = '{:url("admin/fetch/index")}?unit_id='+id;
}
</script>
{/block}