{extend name="base/base" /}

{block name="main"}
<div class="container">
    <div class="main_top">
        <div id="forms" class="mt0">
            <div class="box">
                <div class="box_border">
                    <div class="box_top">
                        <div class="box_top_l fl">
                            <div style="float: left;">   
                            <i class="fa fa-add fa-bank"></i>
                        </div>
                        <b>单位区域</b>
                    </div>
                    <div class="box_center">
                        <form  name="form1" class="jqtransform" >
                            <table class="form_table pt15 pb15" style="width: 100%">
                                <tr>
                                    <td class="td_right">单位名称：</td>
                                    <td>
                                        <input type="text" name="unitname" id="unitname"  lay-verify="required" class="input-text lh30 " size="30" value="{$list.unitname}">[必填]
                                    </td>
                                    <td class="td_right">副 标 题：</td>
                                    <td>
                                        <input type="text" name="dispname" id="dispname" class="input-text lh30" lay-verify="required"  size="30" value="{$list.dispname}">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td_right">唯一标识：</td>
                                    <td>
                                        <input type="text" name="u_code" id="u_code"  lay-verify="required" class="input-text lh30 " size="30" value="{$list.u_code?$list.u_code:$u_code}">
                                    </td>
                                    <td class="td_right">接口编码：</td>
                                    <td>
                                        <input type="text" name="api_code" id="api_code" class="input-text lh30" size="30" value="{$list.api_code?$list.api_code:$api_code}">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td_right">单位编码：</td>
                                    <td>
                                        <input type="text" name="unit_num" id="unit_num" class="input-text lh30" size="30" value="{$list.unit_num?$list.unit_num:$unit_num}">
                                    </td>
                                    <td class="td_right">简介：</td>
                                    <td><input type="text" name="AlternateField1" id="AlternateField1" class="input-text lh30" size="30" value="{$list.AlternateField1}">
                                    </td>
                                </tr>
                                    <tr >
                                        <td class="td_right">启用/暂停：</td>
                                        <td class=""> 
                                            <input type="radio" name="EnableFlag" title="启用" value="1" checked> 启用
                                            &nbsp;
                                            <input type="radio" name="EnableFlag" title="暂停" value="0" {if $list.EnableFlag==0 && !empty($list)}checked{/if}> 暂停
                                        </td>
                                       
                                    </table> 
                                <div class="box_top" style="text-align: center;">
                                    <input type="hidden" name="UnitId" class="input-text lh30" size="4" value="{$list.UnitId}">
                                    <input type="button" name="button" class="btn btn82 btn_save2"  lay-submit lay-filter="formDemo" value="保存" style="margin-right: 20px;"> 
                                    <input type="button" name="button" class="btn btn82 btn_nochecked" onclick="history.back(-1);" value="取消"> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
                </form>
            </div>
        </div>
<script type="text/javascript">
layui.use('form', function(){
  var form = layui.form;
  
  //监听提交
  form.on('submit(formDemo)', function(data){
    $.post('{:url("admin/appointment/saveUnit")}',
        $("form").serialize(), 
        function(data){
            if(data.success==2){
                location.reload();
            }else if(data.success==1){
                history.go(-1);
            }
            alert(data.msg);
    },'json')
  });
});
</script>
{/block}
