{extend name="base/base" /}

{block name="main"}
<div id="search_bar" class="mt10">
    <div class="box">
        <div class="box_border">
        	<form>
            <div class="box_top">
                <div style="float: left;">   
                    <i class="fa fa-add fa-reorder"></i>
                </div>
                <b>系统日志</b>
            </div>
            <div class="box_center pt10 pb10">
              <table class="form_table" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>查看时间:</td>
                    <td>
                        <select name="date" id="date" class="select">
                          {volist name="dates" id="vo"}
                          <option value="{$vo}" {if $vo==$date}selected{/if}>{$vo}</option>
                          {/volist}
                        </select>
                    </td>
                    <td>                      
                    <input type="button" value="搜索" onclick="search()" class="ext_btn ext_btn_submit">
                    </td>
                </tr>
              </table>
            </div>
            <!-- <div class="box_bottom pb5 pt5 pr10" style="border-top:1px solid #dadada;">
              <div class="search_bar_btn" style="text-align:right;">
                 
              </div>
            </div> -->
        	</form>
        </div>
    </div>
</div>

<div id="table" class="mt10">
    <div class="box span10 oh">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="list_table">
        	<tr>
	        	<th width="80">序号</th>
	        	<th width="80">类型</th>
            <th width="120">操作参数(点击复制)</th>              
	        	<th width="50%">状态说明</th>    
	        	<th width="18%">操作时间</th>
        	</tr>  
        	{volist name="list" id="vo"}          
            <tr class="tr">
                <td class="td_center">{$vo.id}</td>
                <td class="td_center">{$vo.type==1?'医生':($vo.type==2?'排班':'患者')}</td>
                <td class="td_center">
                  <label title="{$vo.note}">
                  <a href="javascript:copy_btn('{$vo.note}');">查看参数</a>
                  </label>
                </td>
                <td class="td_center">{$vo.msg}</td>
                <td class="td_center">{$vo.dis_time}</td>
            </tr>
            {/volist}            
        </table>
        
	    {$page|raw}
    </div>
</div>
<script type="text/javascript">
function search(){
  var stime = $("input[name='stime']").val();
  var etime = $("input[name='etime']").val();
  var day = (Date.parse(etime)-Date.parse(stime))/1000/3600/24;
  if(day>365){
    alert("查询时间不能超过一年");
    return false;
  }
  $("form").submit();
}
function del() {
  var date = $("#date").val();
  if(confirm("确定删除"+date+"操作日志？")){    
    $.post('{:url("admin/operation/delHisLog")}',
      {'date':date},
      function (data) {
        if(data.success==1){
          location.reload();
        }
        alert(data.msg)
    },'json')
  }
}
// 复制的方法
function copyText(text, callback){ // text: 要复制的内容， callback: 回调
    var tag = document.createElement('input');
    tag.setAttribute('id', 'cp_hgz_input');
    tag.value = text;
    document.getElementsByTagName('body')[0].appendChild(tag);
    document.getElementById('cp_hgz_input').select();
    document.execCommand('copy');
    document.getElementById('cp_hgz_input').remove();
    if(callback) {callback(text)}
}

// 点击按钮调用复制
function copy_btn(str) {
    copyText( str, function (){
        alert('复制成功')
    })
}
</script>
{/block}
