{extend name="base/base" /}

{block name="main"}
<div id="search_bar" class="mt10">
    <div class="box">
        <div class="box_border">
        	<form>
            <div class="box_top">
                <div style="float: left;">   
                    <i class="fa fa-add fa-reorder"></i>
                </div>
                <b>系统日志</b>
            </div>
            <div class="box_center pt10 pb10">
              <table class="form_table" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>查看时间:</td>
                    <td>
                        <select name="date" id="date" class="select">
                          {volist name="dates" id="vo"}
                          <option value="{$vo}" {if $vo==$date}selected{/if}>{$vo}</option>
                          {/volist}
                        </select>
                    </td>
                </tr>
              </table>
            </div>
            <div class="box_bottom pb5 pt5 pr10" style="border-top:1px solid #dadada;">
              <div class="search_bar_btn" style="text-align:right;">
                 <input type="button" value="搜索" onclick="search()" class="ext_btn ext_btn_submit">
                 <input type="button" value="删除" onclick="del()" class="ext_btn" style="    background: none;background-color: #FF5722;color: #FFFFFF;">
              </div>
            </div>
        	</form>
        </div>
    </div>
</div>

<div id="table" class="mt10">
    <div class="box span10 oh">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="list_table">
        	<tr>
	        	<th width="3%">序号</th>
            <th width="6%">操作账号</th>
	        	<th width="6%">操作人</th>
	        	<th width="8%">操作名称</th>    
            <th width="8%">操作路径</th>      
            <th width="6%">操作参数</th>              
	        	<th width="10%">操作时间</th>
        	</tr>  
        	{volist name="list" id="vo"}          
            <tr class="tr">
                <td class="td_center">{$vo.id}</td>
                <td class="td_center">{$vo.UserName}</td>
                <td class="td_center">{$vo.FullName}</td>
                <td class="td_center">{$vo.op_name}</td>
                <td>{$vo.url}</td>
                <td class="td_center"><label title="{$vo.param}">查看参数</label></td>
                <td class="td_center">{$vo.add_time|date="Y-m-d H:i"}</td>
            </tr>
            {/volist}            
        </table>
        
	    {$page|raw}
    </div>
</div>
<script type="text/javascript">
function search(){
  var stime = $("input[name='stime']").val();
  var etime = $("input[name='etime']").val();
  var day = (Date.parse(etime)-Date.parse(stime))/1000/3600/24;
  if(day>365){
    alert("查询时间不能超过一年");
    return false;
  }
  $("form").submit();
}
function del() {
  var date = $("#date").val();
  if(confirm("确定删除"+date+"操作日志？")){    
    $.post('{:url("admin/operation/delLog")}',
      {'date':date},
      function (data) {
        if(data.success==1){
          location.reload();
        }
        alert(data.msg)
    },'json')
  }
}
</script>
{/block}
