<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  	<title>测试页面</title>
	<link rel="stylesheet" href="__HUI__/lib/layui/css/layui.css" media="all">
	<script type="text/javascript" src="__HUI__/lib/layui/layui.js"></script> 
	<script type="text/javascript" src="__HUI__/lib/vue/vue.min.js"></script> 
	<script type="text/javascript" src="__HUI__/lib/vue/axios.min.js"></script> 
</head>
<body style="background-color: #f2f2f2;">
<div class="layui-container" id="app">  
	<div class="layui-row">
	  	<div class="layui-col-xs12 layui-col-sm12 layui-col-md12" style="padding-left: 4px;height: 60px;border: 1px solid #fff;display: block;" v-bind:title="post_url">
	  	  {{ post_url }}
	  	</div>
	  	<div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
		  	<div class="layui-btn-container">
		  		{volist name="list" id="vo"}
			  	<button type="button" class="layui-btn" @click="change_url('{$vo.url}')">{$vo.title}</button> 
		  		{/volist}
			</div>
		</div>
	  	<div class="layui-col-xs9 layui-col-sm9 layui-col-md9">
	  	  	<input type="text" placeholder="请输入地址" v-model="post_url" class="layui-input">
	  	</div>
	  	<div class="layui-col-xs3 layui-col-sm3 layui-col-md3" style="text-align: center;">
	  	  	<button class="layui-btn" lay-submit="" @click="send">立即提交</button>
	  	</div>
	  	<div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
	  		<textarea name="desc" placeholder="请输入参数json或者xml" class="layui-textarea" v-model="post_data" rows="14"></textarea>
	  	</div>
	  	<div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
	  		<textarea name="desc" placeholder="返回信息" class="layui-textarea" rows="12">{{ result }}</textarea>
	  	</div>
	</div>
</div>

<script>
//Demo
layui.use(['form','jquery'], function(){
  var form = layui.form,$ = layui.$;
  
  //监听提交
  form.on('submit(formDemo)', function(data){
    layer.msg(JSON.stringify(data.field));
    return false;
  });
});

var vm = new Vue({
	el:'#app',
	data:{
		url:'http://192.168.0.239/oral/public/index.php/api/v2/call/operCall',
		result:'',
		checkedKey: '',
		checkedValue: [],
		checked:true,
		post_url:'',
		post_data:'',
		params:[
			{'key':'staff_code','cvalue':'1002'},
			{'key':'interface_code','cvalue':'100'},
			{'key':'ip','cvalue':'192.168.0.239'},
			{'key':'list','cvalue':'[{"prefix":"w","code":"1002","name":"\u6797\u5c0f\u5170","status":"2","order":"0","title":"\u5916\u79d1"},{"prefix":"w","code":"1003","name":"\u9648\u519b","status":"1","order":"0","title":"\u5916\u79d1"},{"prefix":"w","code":"1004","name":"\u674e\u56db","status":"1","order":"0","title":"\u5916\u79d1"}]'},
		],
	}
	,methods:{
		send:function(){
			var vm = this		
			if(this.post_url==''||this.post_url==null){
				layer.msg('请选择请求接口');
				return false;
			}
			if(this.post_data==''||this.post_data==null){
				layer.msg('请填写接口参数');
				return false;
			}
			axios
				.post(this.post_url,{'str':this.post_data})
				.then(function (res) {
					vm.result = res.data
				})
				.catch(function (error) {
					consoel.log(error)
				})
			// this.make();
			// axios
			// 	.get(vm.url)
			// 	.then(function(res){
			// 		vm.result = res.data
			// 	})
			// 	.catch(function(error){
			// 		vm.result = error
			// 	})
		}
		,copy:function () {
			var str = layui.$("table tbody tr:last-child")[0].innerHTML;
			var html = '<tr>'+str+'</tr>';
			layui.$("table tbody").append(html);
		}
		,change_url:function(url){
			this.post_url = 'http://192.168.0.239'+url			
		}
		,make:function(){
			var vm = this
			let url = '',key='',value='',ch='';
			url = vm.url
			layui.$("input[name='key[]']").each(function(obj,fn){
				ch = layui.$(layui.$(fn).parent().parent()[0].firstChild).find("input")[0].checked
				key = layui.$(fn).val()
				value = layui.$(layui.$(fn).parent().parent()[0].lastChild).find("input").val()
				if(key!='' && ch){
					if(url.indexOf("?") == '-1'){
						url = url+'?';
					}else{
						url = url+'&';
					}
					url += key+'='+value
				}
			})
			if(url.indexOf("http://")=='-1'){
				url = "http://"+url
			}
			vm.url = url
		}
	}
})


</script>
</body>
</html>